<div class="card-deck" >
  <div class="row m-1" style="width:350px" *ngFor="let product of productList">
    <div class="card " >
      <img
        src="{{ product.image }}"
        class="card-img-top"
        alt="{{ product.title }}"
        style="width: auto; height: 200px; object-fit: contain"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>

        <p class="text-muted">{{ product.price | currency }}</p>
      </div>
      <div class="card-footer">
        <button  class="btn btn-success">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
